{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<title>Crictics-IPL-Bowler vs Batsman</title>
    <head>

    <style media="screen">
        img{
            width: 500;
            height: 500px;
            align-self: flex-start;
        }
    </style>

    <script type="text/javascript">
        var bowler_name, batsman_name;

        function batsman_func(){
            batsman_name = document.getElementById("batsman_id").value;
            document.getElementById("demo_batsman").innerHTML = batsman_name;
        }

        function alert_js(){
            console.log(bowler_name)
        }

        function bowler_func() {
          bowler_name = document.getElementById("bowler_id").value;
          document.getElementById("demo_bowler").innerHTML = bowler_name;
        }

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bowlandbat.css' %}">
        <meta charset="utf-8">
    </head>

    <body>
        BOWLER VS BATSMEN
<div class="header">
    BOWLER VS BATSMAN MATCHUP
</div>
<div class="split left">
  <div class="centered">
    <img src="../../../media/batsmen.png" alt="Avatar woman">
    <h2>BATSMAN</h2>
    <p>

      <!-- <label> -->
         <input type="text" id="batsman_id" list="CktPlayers_Batsman" autocomplete="off">
        <datalist id="CktPlayers_Batsman">
            <option value="SC Ganguly">
    <option value="BB McCullum">
    <option value="RT Ponting">
    <option value="DJ Hussey">
    <option value="Mohammad Hafeez">
    <option value="R Dravid">
    <option value="W Jaffer">
    <option value="V Kohli">
    <option value="JH Kallis">
    <option value="CL White">
    <option value="MV Boucher">
    <option value="B Akhil">
    <option value="AA Noffke">
    <option value="P Kumar">
    <option value="Z Khan">
    <option value="SB Joshi">
    <option value="PA Patel">
    <option value="ML Hayden">
    <option value="MEK Hussey">
    <option value="MS Dhoni">
    <option value="SK Raina">
    <option value="JDP Oram">
    <option value="KL Rahul">
    <option value="Q de Kock">
    <option value="R Dhawan">
    <option value="MG Johnson">
    <option value="LJ Wright">
    <option value="IC Pandey">
    <option value="CM Gautam">
    <option value="X Thalaivan Sargunam">
    <option value="DJG Sammy">
    <option value="KW Richardson">
    <option value="MM Sharma">
    <option value="UA Birla">
    <option value="Parvez Rasool">
    <option value="Sandeep Sharma">
    <option value="S Kaul">
    <option value="Sachin Baby">
    <option value="PV Tambe">
    <option value="NM Coulter-Nile">
    <option value="CJ Anderson">
    <option value="NJ Maddinson">
    <option value="AR Patel">
    <option value="JJ Bumrah">
    <option value="JDS Neesham">
    <option value="TG Southee">
    <option value="MA Starc">
    <option value="BR Dunk">
    <option value="RR Rossouw">
    <option value="Shivam Sharma">
    <option value="YS Chahal">
    <option value="LMP Simmons">
    <option value="VH Zol">
    <option value="S Badrinath">
    <option value="K Goel">
    <option value="JR Hopes">
    <option value="KC Sangakkara">
    <option value="Yuvraj Singh">
    <option value="SM Katich">
    <option value="IK Pathan">
    <option value="T Kohli">
    <option value="YK Pathan">
    <option value="SR Watson">
    <option value="M Kaif">
    <option value="DS Lehmann">
    <option value="RA Jadeja">
    <option value="M Rawat">
    <option value="D Salunkhe">
    <option value="SK Warne">
    <option value="SK Trivedi">
    <option value="G Gambhir">
    <option value="V Sehwag">
    <option value="S Dhawan">
    <option value="L Ronchi">
    <option value="ST Jayasuriya">
    <option value="DJ Thornely">
    <option value="RV Uthappa">
    <option value="PR Shah">
    <option value="AM Nayar">
    <option value="SM Pollock">
    <option value="Harbhajan Singh">
    <option value="S Chanderpaul">
    <option value="LRPL Taylor">
    <option value="AC Gilchrist">
    <option value="Y Venugopal Rao">
    <option value="VVS Laxman">
    <option value="A Symonds">
    <option value="RG Sharma">
    <option value="SB Styris">
    <option value="SB Bangar">
    <option value="WPUJC Vaas">
    <option value="RP Singh">
    <option value="WP Saha">
    <option value="LR Shukla">
    <option value="DPMD Jayawardene">
    <option value="S Sohal">
    <option value="B Lee">
    <option value="PP Chawla">
    <option value="WA Mota">
    <option value="Kamran Akmal">
    <option value="Shahid Afridi">
    <option value="DJ Bravo">
    <option value="MA Khote">
    <option value="A Nehra">
    <option value="GC Smith">
    <option value="Pankaj Singh">
    <option value="RR Sarwan">
    <option value="S Sreesanth">
    <option value="VRV Singh">
    <option value="SS Tiwary">
    <option value="DS Kulkarni">
    <option value="R Vinay Kumar">
    <option value="AB Agarkar">
    <option value="M Kartik">
    <option value="I Sharma">
    <option value="AM Rahane">
    <option value="Shoaib Malik">
    <option value="MK Tiwary">
    <option value="KD Karthik">
    <option value="R Bhatia">
    <option value="MF Maharoof">
    <option value="VY Mahesh">
    <option value="TM Srivastava">
    <option value="B Chipli">
    <option value="DW Steyn">
    <option value="DB Das">
    <option value="MK Pandey">
    <option value="HH Gibbs">
    <option value="DNT Zoysa">
    <option value="D Kalyankrishna">
    <option value="SE Marsh">
    <option value="SA Asnodkar">
    <option value="Sohail Tanvir">
    <option value="Salman Butt">
    <option value="BJ Hodge">
    <option value="Umar Gul">
    <option value="AB Dinda">
    <option value="SP Fleming">
    <option value="S Vidyut">
    <option value="JA Morkel">
    <option value="AB de Villiers">
    <option value="LPC Silva">
    <option value="DB Ravi Teja">
    <option value="Misbah-ul-Haq">
    <option value="YV Takawale">
    <option value="RR Raje">
    <option value="PJ Sangwan">
    <option value="Mohammad Asif">
    <option value="GD McGrath">
    <option value="Joginder Sharma">
    <option value="MS Gony">
    <option value="M Muralitharan">
    <option value="M Ntini">
    <option value="DT Patil">
    <option value="A Kumble">
    <option value="S Anirudha">
    <option value="MM Patel">
    <option value="CK Kapugedera">
    <option value="A Chopra">
    <option value="T Taibu">
    <option value="J Arunkumar">
    <option value="PP Ojha">
    <option value="SP Goswami">
    <option value="SR Tendulkar">
    <option value="U Kaul">
    <option value="TM Dilshan">
    <option value="A Mishra">
    <option value="AD Mascarenhas">
    <option value="NK Patel">
    <option value="LA Pomersbach">
    <option value="Iqbal Abdulla">
    <option value="Younis Khan">
    <option value="PM Sarvesh Kumar">
    <option value="DP Vijaykumar">
    <option value="Shoaib Akhtar">
    <option value="Abdur Razzak">
    <option value="H Das">
    <option value="DR Smith">
    <option value="SD Chitnis">
    <option value="CRD Fernando">
    <option value="VS Yeligati">
    <option value="L Balaji">
    <option value="A Mukund">
    <option value="RR Powar">
    <option value="JP Duminy">
    <option value="A Flintoff">
    <option value="T Thushara">
    <option value="JD Ryder">
    <option value="KP Pietersen">
    <option value="T Henderson">
    <option value="Kamran Khan">
    <option value="RS Bopara">
    <option value="CH Gayle">
    <option value="MC Henriques">
    <option value="R Bishnoi">
    <option value="FH Edwards">
    <option value="KV Sharma">
    <option value="PC Valthaty">
    <option value="RJ Quiney">
    <option value="AS Raut">
    <option value="Yashpal Singh">
    <option value="M Manhas">
    <option value="AA Bilakhia">
    <option value="AN Ghosh">
    <option value="BAW Mendis">
    <option value="DL Vettori">
    <option value="MN van Wyk">
    <option value="RE van der Merwe">
    <option value="TL Suman">
    <option value="Shoaib Ahmed">
    <option value="GR Napier">
    <option value="KP Appanna">
    <option value="LA Carseldine">
    <option value="NV Ojha">
    <option value="SM Harwood">
    <option value="M Vijay">
    <option value="SB Jakati">
    <option value="DA Warner">
    <option value="RJ Harris">
    <option value="D du Preez">
    <option value="M Morkel">
    <option value="AD Mathews">
    <option value="J Botha">
    <option value="C Nanda">
    <option value="SL Malinga">
    <option value="Mashrafe Mortaza">
    <option value="A Singh">
    <option value="GJ Bailey">
    <option value="AB McDonald">
    <option value="Y Nagar">
    <option value="SS Shaikh">
    <option value="R Ashwin">
    <option value="Mohammad Ashraful">
    <option value="CA Pujara">
    <option value="OA Shah">
    <option value="Anirudh Singh">
    <option value="Jaskaran Singh">
    <option value="AP Tare">
    <option value="AT Rayudu">
    <option value="R Sathish">
    <option value="R McLaren">
    <option value="AA Jhunjhunwala">
    <option value="P Dogra">
    <option value="A Uniyal">
    <option value="MS Bisla">
    <option value="YA Abdulla">
    <option value="EJG Morgan">
    <option value="JM Kemp">
    <option value="S Tyagi">
    <option value="RS Gavaskar">
    <option value="SE Bond">
    <option value="KA Pollard">
    <option value="S Ladda">
    <option value="DP Nannes">
    <option value="MJ Lumb">
    <option value="DR Martyn">
    <option value="S Narwal">
    <option value="AB Barath">
    <option value="Bipul Sharma">
    <option value="FY Fazal">
    <option value="AC Voges">
    <option value="MD Mishra">
    <option value="UT Yadav">
    <option value="J Theron">
    <option value="SJ Srivastava">
    <option value="R Sharma">
    <option value="Mandeep Singh">
    <option value="KM Jadhav">
    <option value="SW Tait">
    <option value="KB Arun Karthik">
    <option value="KAJ Roach">
    <option value="PD Collingwood">
    <option value="CK Langeveldt">
    <option value="VS Malik">
    <option value="A Mithun">
    <option value="AP Dole">
    <option value="AN Ahmed">
    <option value="RS Sodhi">
    <option value="DE Bollinger">
    <option value="S Sriram">
    <option value="B Sumanth">
    <option value="C Madan">
    <option value="AG Paunikar">
    <option value="MR Marsh">
    <option value="AJ Finch">
    <option value="STR Binny">
    <option value="Harmeet Singh">
    <option value="IR Jaggi">
    <option value="DT Christian">
    <option value="RV Gomez">
    <option value="MA Agarwal">
    <option value="AUK Pathan">
    <option value="UBT Chand">
    <option value="DJ Jacobs">
    <option value="Sunny Singh">
    <option value="NJ Rimmington">
    <option value="AL Menaria">
    <option value="WD Parnell">
    <option value="JJ van der Wath">
    <option value="R Ninan">
    <option value="S Aravind">
    <option value="MS Wade">
    <option value="TD Paine">
    <option value="SB Wagh">
    <option value="AC Thomas">
    <option value="JEC Franklin">
    <option value="Shakib Al Hasan">
    <option value="DH Yagnik">
    <option value="S Randiv">
    <option value="BJ Haddin">
    <option value="NLTC Perera">
    <option value="NL McCullum">
    <option value="JE Taylor">
    <option value="J Syed Mohammad">
    <option value="RN ten Doeschate">
    <option value="TR Birt">
    <option value="AG Murtaza">
    <option value="Harpreet Singh">
    <option value="M Klinger">
    <option value="AC Blizzard">
    <option value="I Malhotra">
    <option value="L Ablish">
    <option value="CA Ingram">
    <option value="S Nadeem">
    <option value="P Parameswaran">
    <option value="CJ Ferguson">
    <option value="VR Aaron">
    <option value="AA Chavan">
    <option value="ND Doshi">
    <option value="B Kumar">
    <option value="Y Gnaneswara Rao">
    <option value="S Rana">
    <option value="BA Bhatt">
    <option value="F du Plessis">
    <option value="RE Levi">
    <option value="GJ Maxwell">
    <option value="SPD Smith">
    <option value="MN Samuels">
    <option value="SA Yadav">
    <option value="KK Cooper">
    <option value="JP Faulkner">
    <option value="HV Patel">
    <option value="DAJ Bracewell">
    <option value="DJ Harris">
    <option value="Ankit Sharma">
    <option value="SP Narine">
    <option value="GB Hogg">
    <option value="RR Bhatkal">
    <option value="CJ McKay">
    <option value="N Saini">
    <option value="DA Miller">
    <option value="Azhar Mahmood">
    <option value="P Negi">
    <option value="RJ Peterson">
    <option value="KMDN Kulasekara">
    <option value="A Ashish Reddy">
    <option value="V Pratap Singh">
    <option value="BB Samantray">
    <option value="MJ Clarke">
    <option value="Gurkeerat Singh">
    <option value="AP Majumdar">
    <option value="PA Reddy">
    <option value="K Upadhyay">
    <option value="P Awana">
    <option value="AD Russell">
    <option value="A Chandila">
    <option value="CA Lynn">
    <option value="Sunny Gupta">
    <option value="MC Juneja">
    <option value="KK Nair">
    <option value="GH Vihari">
    <option value="MDKJ Perera">
    <option value="R Shukla">
    <option value="B Laughlin">
    <option value="AS Rajpoot">
    <option value="M Vohra">
    <option value="JD Unadkat">
    <option value="Mohammed Shami<option value="
    <option value="BMAJ Mendis">
    <option value="R Rampaul">
    <option value="CH Morris">
    <option value="SV Samson">
    <option value="SMSM Senanayake">
    <option value="BJ Rohrer">
    <option value="BCJ Cutting">
    <option value="Imran Tahir">
    <option value="BE Hendricks">
    <option value="S Gopal">
    <option value="M de Lange">
    <option value="R Tewatia">
    <option value="JO Holder">
    <option value="Karanveer Singh">
    <option value="SS Iyer">
    <option value="DJ Hooda">
    <option value="Anureet Singh">
    <option value="KS Williamson">
    <option value="SA Abbott">
    <option value="J Suchith">
    <option value="RG More">
    <option value="HH Pandya">
    <option value="D Wiese">
    <option value="SN Khan">
    <option value="MJ McClenaghan">
    <option value="DJ Muthuswami">
    <option value="PJ Cummins">
    <option value="SN Thakur">
    <option value="JC Buttler">
    <option value="CR Brathwaite">
    <option value="MP Stoinis">
    <option value="Ishan Kishan">
    <option value="C Munro">
    <option value="P Sahu">
    <option value="KH Pandya">
    <option value="AD Nath">
    <option value="MJ Guptill">
    <option value="KJ Abbott">
    <option value="TM Head">
    <option value="M Ashwin">
    <option value="NS Naik">
    <option value="RR Pant">
    <option value="SW Billings">
    <option value="KC Cariappa">
    <option value="PSP Handscomb">
    <option value="Swapnil Singh">
    <option value="J Yadav">
    <option value="UT Khawaja">
    <option value="HM Amla">
    <option value="F Behardien">
    <option value="BB Sran">
    <option value="A Zampa">
    <option value="N Rana">
    <option value="S Kaushik">
    <option value="ER Dwivedi">
    <option value="CJ Jordan">
    <option value="P Amarnath">
    <option value="B Geeves">
    <option value="Gagandeep Singh">
    <option value="A Nel">
    <option value="AM Salvi">
    <option value="RR Bose">
    <option value="SS Sarkar">
    <option value="RA Shaikh">
    <option value="C Ganapathy">
    <option value="MB Parmar">
    <option value="AA Kazi">
    <option value="Anand Rajan">
    <option value="P Prasanth">
    <option value="SS Mundhe">
    <option value="RW Price">
    <option value="TP Sudhindra">
    <option value="BW Hilfenhaus">
    <option value="S Badree">
    <option value="P Suyal">
    <option value="MG Neser">
    <option value="V Shankar">
    <option value="K Santokie">
    <option value="JW Hastings">
    <option value="TA Boult">
    <option value="GS Sandhu">
    <option value="Mustafizur Rahman">
    <option value="AF Milne">
    <option value="Kuldeep Yadav">
    <option value="T Shamsi">
    <option value="SM Boland">
    <option value="DL Chahar">
    <option value="P Dharmani">
    <option value="RV Pawar">
    <option value="KH Devdhar">
    <option value="T Mishra">
    <option value="AV Wankhade">
    <option value="B Aparajith">
        </datalist>
    <!-- </label> -->
       <button onclick="batsman_func()">Try it</button>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="../../../media/bowler.png" alt="Avatar man">
    <h2>BOWLER</h2>

    <input type="text" id="batsman_id" list="CktPlayers" autocomplete="off" name=bowler_name>
      <datalist id="CktPlayers">
          <option value="SC Ganguly">
          <option value="BB McCullum">
          <option value="RT Ponting">
          <option value="DJ Hussey">
          <option value="Mohammad Hafeez">
          <option value="R Dravid">
          <option value="W Jaffer">
          <option value="V Kohli<option value="
          <option value="JH Kallis">
          <option value="CL White">
          <option value="MV Boucher">
          <option value="B Akhil">
          <option value="AA Noffke">
          <option value="P Kumar">
          <option value="Z Khan">
          <option value="SB Joshi">
          <option value="ML Hayden">
          <option value="MEK Hussey">
          <option value="MS Dhoni">
          <option value="SK Raina">
          <option value="JDP Oram">
          <option value="R Dhawan">
          <option value="MG Johnson">
          <option value="LJ Wright">
          <option value="IC Pandey">
          <option value="X Thalaivan Sargunam">
          <option value="DJG Sammy">
          <option value="KW Richardson">
          <option value="MM Sharma">
          <option value="UA Birla<option value="
          <option value="Parvez Rasool">
          <option value="Sandeep Sharma">
          <option value="S Kaul">
          <option value="Sachin Baby">
          <option value="PV Tambe">
          <option value="NM Coulter-Nile">
          <option value="CJ Anderson">
          <option value="NJ Maddinson">
          <option value="AR Patel">
          <option value="JJ Bumrah">
          <option value="JDS Neesham">
          <option value="TG Southee">
          <option value="MA Starc">
          <option value="RR Rossouw">
          <option value="Shivam Sharma">
          <option value="YS Chahal">
          <option value="LMP Simmons">
          <option value="VH Zol">
          <option value="S Badrinath">
          <option value="K Goel">
          <option value="JR Hopes">
          <option value="KC Sangakkara">
          <option value="Yuvraj Singh">
          <option value="SM Katich">
          <option value="IK Pathan">
          <option value="T Kohli">
          <option value="YK Pathan">
          <option value="SR Watson">
          <option value="M Kaif">
          <option value="DS Lehmann">
          <option value="RA Jadeja">
          <option value="D Salunkhe">
          <option value="SK Warne">
          <option value="SK Trivedi">
          <option value="G Gambhir">
          <option value="V Sehwag">
          <option value="S Dhawan">
          <option value="ST Jayasuriya">
          <option value="DJ Thornely">
          <option value="RV Uthappa">
          <option value="AM Nayar">
          <option value="SM Pollock">
          <option value="Harbhajan Singh">
          <option value="S Chanderpaul">
          <option value="LRPL Taylor">
          <option value="AC Gilchrist">
          <option value="Y Venugopal Rao">
          <option value="VVS Laxman">
          <option value="A Symonds">
          <option value="RG Sharma">
          <option value="SB Styris">
          <option value="SB Bangar">
          <option value="WPUJC Vaas">
          <option value="RP Singh">
          <option value="LR Shukla">
          <option value="DPMD Jayawardene">
          <option value="S Sohal">
          <option value="B Lee">
          <option value="PP Chawla">
          <option value="WA Mota">
          <option value="Shahid Afridi">
          <option value="DJ Bravo">
          <option value="MA Khote">
          <option value="A Nehra">
          <option value="GC Smith">
          <option value="Pankaj Singh">
          <option value="RR Sarwan">
          <option value="S Sreesanth">
          <option value="VRV Singh">
          <option value="DS Kulkarni">
          <option value="R Vinay Kumar">
          <option value="AB Agarkar">
          <option value="M Kartik">
          <option value="I Sharma">
          <option value="AM Rahane">
          <option value="Shoaib Malik">
          <option value="MK Tiwary">
          <option value="R Bhatia">
          <option value="MF Maharoof">
          <option value="VY Mahesh">
          <option value="TM Srivastava">
          <option value="B Chipli">
          <option value="DW Steyn">
          <option value="DB Das">
          <option value="MK Pandey">
          <option value="HH Gibbs">
          <option value="DNT Zoysa">
          <option value="D Kalyankrishna">
          <option value="SE Marsh">
          <option value="SA Asnodkar">
          <option value="Sohail Tanvir">
          <option value="Salman Butt">
          <option value="BJ Hodge">
          <option value="Umar Gul">
          <option value="AB Dinda">
          <option value="S Vidyut">
          <option value="JA Morkel">
          <option value="AB de Villiers">
          <option value="LPC Silva">
          <option value="DB Ravi Teja">
          <option value="Misbah-ul-Haq">
          <option value="RR Raje">
          <option value="PJ Sangwan">
          <option value="Mohammad Asif">
          <option value="GD McGrath">
          <option value="Joginder Sharma">
          <option value="MS Gony">
          <option value="M Muralitharan">
          <option value="M Ntini">
          <option value="A Kumble">
          <option value="MM Patel">
          <option value="CK Kapugedera">
          <option value="A Chopra">
          <option value="T Taibu">
          <option value="J Arunkumar">
          <option value="PP Ojha">
          <option value="SR Tendulkar">
          <option value="TM Dilshan">
          <option value="A Mishra">
          <option value="AD Mascarenhas">
          <option value="LA Pomersbach">
          <option value="Iqbal Abdulla">
          <option value="Younis Khan<option value="
          <option value="PM Sarvesh Kumar">
          <option value="DP Vijaykumar">
          <option value="Shoaib Akhtar">
          <option value="Abdur Razzak">
          <option value="DR Smith">
          <option value="SD Chitnis">
          <option value="CRD Fernando">
          <option value="VS Yeligati">
          <option value="L Balaji">
          <option value="A Mukund">
          <option value="RR Powar">
          <option value="JP Duminy">
          <option value="A Flintoff">
          <option value="T Thushara">
          <option value="JD Ryder">
          <option value="KP Pietersen">
          <option value="T Henderson">
          <option value="Kamran Khan">
          <option value="RS Bopara">
          <option value="CH Gayle">
          <option value="MC Henriques">
          <option value="R Bishnoi">
          <option value="FH Edwards">
          <option value="KV Sharma">
          <option value="PC Valthaty">
          <option value="RJ Quiney">
          <option value="AS Raut">
          <option value="Yashpal Singh">
          <option value="M Manhas">
          <option value="AA Bilakhia">
          <option value="AN Ghosh">
          <option value="BAW Mendis">
          <option value="DL Vettori">
          <option value="MN van Wyk">
          <option value="RE van der Merwe">
          <option value="TL Suman">
          <option value="Shoaib Ahmed">
          <option value="GR Napier">
          <option value="KP Appanna">
          <option value="LA Carseldine">
          <option value="SM Harwood">
          <option value="M Vijay">
          <option value="SB Jakati">
          <option value="DA Warner">
          <option value="RJ Harris">
          <option value="D du Preez">
          <option value="M Morkel">
          <option value="AD Mathews">
          <option value="J Botha">
          <option value="C Nanda">
          <option value="SL Malinga">
          <option value="Mashrafe Mortaza">
          <option value="A Singh">
          <option value="GJ Bailey">
          <option value="AB McDonald">
          <option value="Y Nagar">
          <option value="SS Shaikh">
          <option value="R Ashwin">
          <option value="Mohammad Ashraful">
          <option value="CA Pujara">
          <option value="OA Shah">
          <option value="Anirudh Singh">
          <option value="Jaskaran Singh">
          <option value="AT Rayudu">
          <option value="R Sathish">
          <option value="R McLaren">
          <option value="AA Jhunjhunwala">
          <option value="P Dogra">
          <option value="A Uniyal">
          <option value="YA Abdulla">
          <option value="EJG Morgan">
          <option value="JM Kemp">
          <option value="S Tyagi">
          <option value="RS Gavaskar">
          <option value="SE Bond">
          <option value="KA Pollard">
          <option value="S Ladda">
          <option value="DP Nannes">
          <option value="MJ Lumb">
          <option value="DR Martyn">
          <option value="S Narwal">
          <option value="AB Barath">
          <option value="Bipul Sharma">
          <option value="FY Fazal">
          <option value="AC Voges">
          <option value="MD Mishra">
          <option value="UT Yadav">
          <option value="J Theron">
          <option value="SJ Srivastava">
          <option value="R Sharma">
          <option value="Mandeep Singh">
          <option value="KM Jadhav">
          <option value="SW Tait">
          <option value="KB Arun Karthik">
          <option value="KAJ Roach">
          <option value="PD Collingwood">
          <option value="CK Langeveldt">
          <option value="VS Malik">
          <option value="A Mithun">
          <option value="AP Dole">
          <option value="AN Ahmed">
          <option value="RS Sodhi">
          <option value="DE Bollinger">
          <option value="S Sriram">
          <option value="B Sumanth">
          <option value="MR Marsh">
          <option value="AJ Finch">
          <option value="STR Binny">
          <option value="Harmeet Singh">
          <option value="IR Jaggi">
          <option value="DT Christian">
          <option value="RV Gomez">
          <option value="AUK Pathan">
          <option value="UBT Chand">
          <option value="DJ Jacobs">
          <option value="Sunny Singh">
          <option value="NJ Rimmington">
          <option value="AL Menaria">
          <option value="WD Parnell">
          <option value="JJ van der Wath">
          <option value="R Ninan">
          <option value="S Aravind">
          <option value="MS Wade">
          <option value="TD Paine">
          <option value="SB Wagh">
          <option value="AC Thomas">
          <option value="JEC Franklin">
          <option value="Shakib Al Hasan">
          <option value="S Randiv">
          <option value="NLTC Perera">
          <option value="NL McCullum">
          <option value="JE Taylor">
          <option value="J Syed Mohammad">
          <option value="RN ten Doeschate">
          <option value="TR Birt">
          <option value="AG Murtaza">
          <option value="Harpreet Singh">
          <option value="AC Blizzard">
          <option value="I Malhotra">
          <option value="L Ablish">
          <option value="CA Ingram">
          <option value="S Nadeem">
          <option value="P Parameswaran">
          <option value="CJ Ferguson">
          <option value="VR Aaron">
          <option value="AA Chavan">
          <option value="ND Doshi">
          <option value="B Kumar">
          <option value="Y Gnaneswara Rao">
          <option value="S Rana">
          <option value="BA Bhatt">
          <option value="F du Plessis">
          <option value="RE Levi">
          <option value="GJ Maxwell">
          <option value="SPD Smith">
          <option value="MN Samuels">
          <option value="SA Yadav">
          <option value="KK Cooper">
          <option value="JP Faulkner">
          <option value="HV Patel">
          <option value="DAJ Bracewell">
          <option value="DJ Harris">
          <option value="Ankit Sharma">
          <option value="SP Narine">
          <option value="GB Hogg">
          <option value="RR Bhatkal">
          <option value="CJ McKay">
          <option value="DA Miller">
          <option value="Azhar Mahmood">
          <option value="P Negi">
          <option value="RJ Peterson">
          <option value="KMDN Kulasekara">
          <option value="A Ashish Reddy">
          <option value="V Pratap Singh">
          <option value="MJ Clarke<option value="
          <option value="Gurkeerat Singh">
          <option value="AP Majumdar">
          <option value="PA Reddy">
          <option value="K Upadhyay">
          <option value="P Awana">
          <option value="AD Russell">
          <option value="A Chandila">
          <option value="CA Lynn">
          <option value="Sunny Gupta">
          <option value="MC Juneja">
          <option value="KK Nair">
          <option value="GH Vihari">
          <option value="R Shukla">
          <option value="B Laughlin">
          <option value="AS Rajpoot">
          <option value="M Vohra">
          <option value="JD Unadkat">
          <option value="Mohammed Shami">
          <option value="BMAJ Mendis">
          <option value="R Rampaul">
          <option value="CH Morris">
          <option value="SMSM Senanayake">
          <option value="BCJ Cutting">
          <option value="Imran Tahir">
          <option value="BE Hendricks">
          <option value="S Gopal">
          <option value="M de Lange">
          <option value="R Tewatia">
          <option value="JO Holder">
          <option value="Karanveer Singh">
          <option value="SS Iyer">
          <option value="DJ Hooda">
          <option value="Anureet Singh">
          <option value="KS Williamson">
          <option value="SA Abbott">
          <option value="J Suchith">
          <option value="RG More">
          <option value="HH Pandya">
          <option value="D Wiese">
          <option value="SN Khan">
          <option value="MJ McClenaghan">
          <option value="DJ Muthuswami">
          <option value="PJ Cummins">
          <option value="SN Thakur">
          <option value="CR Brathwaite">
          <option value="MP Stoinis">
          <option value="C Munro">
          <option value="P Sahu">
          <option value="KH Pandya">
          <option value="AD Nath">
          <option value="MJ Guptill">
          <option value="KJ Abbott">
          <option value="TM Head">
          <option value="M Ashwin">
          <option value="KC Cariappa">
          <option value="Swapnil Singh">
          <option value="J Yadav">
          <option value="UT Khawaja">
          <option value="HM Amla">
          <option value="F Behardien">
          <option value="BB Sran">
          <option value="A Zampa">
          <option value="N Rana">
          <option value="S Kaushik">
          <option value="CJ Jordan">
          <option value="P Amarnath">
          <option value="B Geeves">
          <option value="Gagandeep Singh">
          <option value="A Nel">
          <option value="AM Salvi">
          <option value="RR Bose">
          <option value="SS Sarkar">
          <option value="RA Shaikh">
          <option value="C Ganapathy">
          <option value="MB Parmar">
          <option value="AA Kazi">
          <option value="Anand Rajan">
          <option value="P Prasanth">
          <option value="SS Mundhe">
          <option value="RW Price">
          <option value="TP Sudhindra">
          <option value="BW Hilfenhaus">
          <option value="S Badree">
          <option value="P Suyal">
          <option value="MG Neser">
          <option value="V Shankar">
          <option value="K Santokie">
          <option value="JW Hastings">
          <option value="TA Boult">
          <option value="GS Sandhu">
          <option value="Mustafizur Rahman">
          <option value="AF Milne">
          <option value="Kuldeep Yadav">
          <option value="T Shamsi">
          <option value="SM Boland">
          <option value="DL Chahar">
          <option value="RV Pawar">
          <option value="T Mishra">
          <option value="B Aparajith">
      </datalist>
    <!-- <button onclick="batsman_func()">Try it</button> -->
    <ul>
        {{ bowler }}
    </ul>
  </div>
</div>

</body>
</html>
