<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<title>CRICTICS-IPL-Orange Cap</title>
    <head>
        <meta charset="utf-8">
        <style>
        body{
            background-color: #9B59B6;
            color: coral;
            text-align: -webkit-center;
            font-size: 30px;
            font-family:sans-serif;
        }
        </style>
        <title></title>
    </head>
    <body>
        <h1>ORANGE CAP</h1>
         <img src="../../../media/orangecap.png" width="500",height="500">
         <h2>Select The Year</h2>
         <p>
           <select id = "myList">
             <option value = "2018">2018</option>
             <option value = "2017">2017</option>
             <option value = "2016">2016</option>
             <option value = "2015">2015</option>
           <select/>
      </p>
    </body>
</html> -->


{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
