<!DOCTYPE html>
<html lang="en" dir="ltr">
<title>CRICTICS-IPL-Orange Cap</title>
    <head>
        <meta charset="utf-8">
        <style>
        body{
            background-color: #9B59B6;
            color: coral;
            text-align: -webkit-center;
            font-size: 30px;
            font-family:sans-serif;
        }
        </style>
        <title></title>
    </head>
    <body>
        <h1>PURPLE CAP</h1>
         <img src="../../../media/purplecap.png" width="500",height="500">
         <h2>Select The Year</h2>
         <p>
           <select id = "myList">
             <option value = "2018">2018</option>
             <option value = "2017">2017</option>
             <option value = "2016">2016</option>
             <option value = "2015">2015</option>
           <select/>
      </p>
    </body>
</html>
